/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.jumbotron {
  background-image: image-url('clay-banks-aJvzkENWZZM-unsplash');
  background-size: cover;
  background-position: center;
  height: 55vh;
}

.title-logo {
  margin-top: 50px;
}


.sub-img {
  background-image: image-url('patrick-dozkVhDyvhQ-unsplash.jpg');
  background-size: cover;
  height: 30vh;
}

.title-img {
  background-image: image-url;
}

.footer{
  width: 100%;
  height: 20vh;
}