<p>知らなかった！<%= post.votes.where(detail: 0).count %>|
聞いたことはある<%= post.votes.where(detail: 1).count %>|
行ったことある<%= post.votes.where(detail: 2).count %>|
有名でしょ！<%= post.votes.where(detail: 3).count %></p>